html{
  margin: 0;
  padding: 0;
}
body {
  background: #7200a4;
  color: white;
  font-family: 'Bree Serif', serif;
}
.container {
  display: block;
  max-width: 600px;
  width: 100%;
  margin: 100px auto 0;
}
.smallContainer{
  width: 90%;
  margin: 0 auto

}
/*#todo-container{
	width:150px
}*/
.myapp{
  max-width:350px;
  width: 100%;
   margin:0 auto;
   background: rgba(78,0,56,0.8);
   border-radius: 4px;
   -webkit-box-shadow:
       0 5px 15px 1px rgba(0, 0, 0, 0.6),
       0 0 200px 1px rgba(255, 255, 255, 0.5);
   box-shadow:
       0 5px 15px 1px rgba(0, 0, 0, 0.6),
       0 0 200px 1px rgba(255, 255, 255, 0.5);
}

h2{
  line-height: 50px;
     padding:0 18px;
     font-size: 1.7em;
     color: white;
     text-align: center;
         margin: 0 auto;
}
#add-todo button{
  font-size: 23px;
  margin:0;
  padding: 0;
  max-width: 35px;
  position: relative;
left: -38px;

}
#add-todo button:hover .fa-location-arrow::before{
  color: red;
}
#add-todo input , #add-todo button{
  height: 23px;
  line-height: 35px;
}

button {
  background: none;
    border: 0px;
    color: #4e0038;
    font-size: 15px;
    margin: 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
        padding: 11px;
}

button:hover {
  color: #0FC57C;
}
#ascending , #descending , .fa-location-arrow:before{
  color: #ff76bc;
  font-weight: bold;

}


label{
  color: WHITE;
  font-weight: bold;
  font-size: 17px;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
      margin-left: 50px;
}

#add-todo{
  margin-left: 10px;
    margin-bottom: 5px;
  }

ul{
      padding: 0;
      font-family: 'Indie Flower', cursive;

}

li{
  clear:both;
  list-style:none;
  display:block;
  background: #630f5b;
    line-height:32px;
    padding:0 34px;
    transition: ease-out 0.15s;
    -webkit-transition: ease-out 0.15s;
    font-size: 20px;
    width: 70%;
margin: 6px auto;


}

li:hover{
    padding:0 40px;
    background: #e064b8;
}
.marked {
  background-color: red !important;
  text-decoration: line-through;
}
input#new-task{
  font-size: 20px;
  float: left;
  width: 80%;
  margin-bottom: 5px;
}


input#submit{
  font-size: 20px;
  background-color: white;
      color: black;
    float: left;
    max-width: 15%;
     margin: 0 auto;
       }
/*#todo-container{
  width: 10px;
}*/
